langchain
langchain-community
langchain-core
langgraph
langchain-text-splitters
tiktoken

transformers
sentence-transformers
huggingface-hub
torch
accelerate

faiss-cpu
chromadb

neo4j
networkx
graspologic

numpy
pandas
scikit-learn
tqdm
joblib

pypdf
pymupdf
unstructured

pytesseract
pillow
opencv-python

nltk
spacy

loguru
python-dotenv
rank-bm25
aiofiles
pyyaml

fastapi
uvicorn
pydantic
requests
